.btn {
  display: inline-block;
  font-weight: 500;
  line-height: 1.5;
  font-family: "Montserrat", system-ui, -apple-system, "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.5rem;
}

.btn:hover {
  color: #212529;
}

.btn-check:focus + .btn, .btn:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(0, 140, 216, 0.2);
          box-shadow: 0 0 0 0.25rem rgba(0, 140, 216, 0.2);
}

.btn-check:checked + .btn,
.btn-check:active + .btn, .btn:active, .btn.active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-check:checked + .btn:focus,
.btn-check:active + .btn:focus, .btn:active:focus, .btn.active:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(0, 140, 216, 0.2);
          box-shadow: 0 0 0 0.25rem rgba(0, 140, 216, 0.2);
}

.btn:disabled, .btn.disabled,
fieldset:disabled .btn {
  pointer-events: none;
  opacity: 0.65;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.primary {
  color: #fff;
  background-color: #216E97;
}

.primary:hover {
  -webkit-box-shadow: 0 0 0 0.125rem rgba(0, 140, 216, 0.2);
          box-shadow: 0 0 0 0.125rem rgba(0, 140, 216, 0.2);
}

.primary:active:focus {
  -webkit-box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
}

.secondary-outline {
  border: 1px #8A8A8A solid;
}

.secondary-outline:hover {
  -webkit-box-shadow: 0 0 0 0.125rem rgba(0, 140, 216, 0.2);
          box-shadow: 0 0 0 0.125rem rgba(0, 140, 216, 0.2);
}

.secondary-outline:active:focus {
  
}