.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.25rem;
  align-items: flex-start;
  background: #FFFFFF;
  box-shadow: 2px 2px 20px rgba(40, 82, 132, 0.24);
  border-radius: 2rem;
  padding: 2em;
}

.card_title {
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
  color: #47464D;
}

.card_description {
  margin: 0 auto;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 500;
  color: #47464D;
}

.card_date {
  margin: 0 auto;
  text-align: center;
  font-weight: 500;
  font-size: .75rem;
  color: #818181;
}

.button_row {
  margin: 0 auto;
}