.outer {
  background: rgba(60, 60, 60, 0.61);
  background: -moz-linear-gradient(to bottom, rgba(60, 60, 60, 0.65), rgba(60, 60, 60, 0.4)), url("./auth_image.png");
  background: -webkit-linear-gradient(to bottom, rgba(60, 60, 60, 0.65), rgba(60, 60, 60, 0.4)), url("./auth_image.png");
  background: -webkit-gradient(to bottom, rgba(60, 60, 60, 0.65), rgba(60, 60, 60, 0.4)), url("./auth_image.png");
  background: -o-linear-gradient(to bottom, rgba(60, 60, 60, 0.65), rgba(60, 60, 60, 0.4)), url("./auth_image.png");
  background: -ms-linear-gradient(to bottom, rgba(60, 60, 60, 0.65), rgba(60, 60, 60, 0.4)), url("./auth_image.png");
  background: linear-gradient(to bottom, rgba(60, 60, 60, 0.65), rgba(60, 60, 60, 0.4)), url("./auth_image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 500px;
  padding: 4rem 0;
}

.authorizated {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
}

.authorizated a {
  font-size: 1.25rem;
}