.header_outer {
  background: rgb(27,101,187);
  background: linear-gradient(50deg, rgba(27,101,187,1) 35%, rgba(5,207,181,1) 100%);
  color: white;
}

.header_inner {
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;
  font-size: 1em;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 1.5rem;
  flex-basis: 50%;
}

.info button {
  margin-top: 1rem;
}

.info_title {
  font-weight: 700;
  font-size: 2em;
}

.info_description a {
  color: white;
}

.profile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: flex-start;
  gap: 1rem;
}

.profile_text {
  color: white;
}

.profile_link {
  color: white;
}

.card_row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scrollbar-width: thin;
  justify-content: space-between;
  gap: 2em;
  padding: 4rem 2rem;
}

.card_row::-webkit-scrollbar {
  height: 0;
}

.card_row::-webkit-scrollbar-track {
  background-color: #f9f9fd;
  border-radius: 4px;
}

.card_row::-webkit-scrollbar-thumb {
  background-color: #636363;
  border-radius: 4px;
}

@media (max-width: 900px) {
  .card_row {
    gap: 1em;
  }
}

@media (max-width: 750px) {
  .header_inner {
    font-size: 0.9em;
  }
}

@media (max-width: 700px) {
  
}

