.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: .5rem;
}

.card_date {
  color: #606060;
}

.card_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5rem;
}

.card_img {
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card_img img {
  position: relative;
  width: 100%;
  border-radius: 1.5rem;
  background-color: #ababab;
  object-fit: cover;
  aspect-ratio: 16/9;
}

.card_img img:before {  
  content: " ";
  display: block;

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ababab;
  border: 1px dotted rgb(200, 200, 200);
}

.card_img img:after {  
  content: attr(alt);
  display: block;
  color: rgb(100, 100, 100);
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  text-align: center;
}

.card_text {
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  flex-grow: 1;
  white-space: pre-line;
  gap: 1rem;
}

.card_title {
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}

.card_description {
  color: #606060;
}

@media (max-width: 800px) {
  .card_content {
    flex-direction: column;
    gap: 2rem;
  }
}

.card_link {
  margin-left: auto;
}