.outer {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  gap: 2rem;
}

.inner {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 2rem;
  padding: 2rem;
  gap: 2rem;
}