.intro{
    background: rgba(60, 60, 60, 0.3);
    background: -moz-linear-gradient(to right, rgba(5, 60, 100, 0.7), rgba(60, 60, 60, 0.4)), url("intro.gif");
    background: -webkit-linear-gradient(to right, rgba(5, 60, 100, 0.7), rgba(60, 60, 60, 0.4)), url("intro.gif");
    background: -webkit-gradient(to right, rgba(5, 60, 100, 0.7), rgba(60, 60, 60, 0.4)), url("intro.gif");
    background: -o-linear-gradient(to right, rgba(5, 60, 100, 0.7), rgba(60, 60, 60, 0.4)), url("intro.gif");
    background: -ms-linear-gradient(to right, rgba(5, 60, 100, 0.7), rgba(60, 60, 60, 0.4)), url("intro.gif");
    background: linear-gradient(to right, rgba(5, 60, 100, 0.7), rgba(60, 60, 60, 0.4)), url("intro.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 5rem 0;
    letter-spacing: 0.07rem;
}

.page_heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #F2F2F2;
    font-size: 2rem;
}

.page_heading div:nth-child(2){
    font-weight: 600;
    font-size: 1.125em;
}

.search_btn {
    margin-top: 1.5em;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 1.5em;
    padding: 1em 2em;
    color: white;
    font-size: .75em;
    outline: none;
}

.search_btn::placeholder {
    color: white;
}

@media (max-width: 478px) {
    .page_heading {
        font-size: 1.5rem;
    }

    .intro {
        padding: 3rem 0;
    }
}