.request_card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-bottom: 1px #CECFD0 solid;
  padding-bottom: 2rem;
}

.request {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: flex-start;
  justify-content: space-between;
}

.request_header {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.request_date {
  font-weight: 600;
  font-size: .875rem;
  color: #7D7C84;
}

.request_text {
  font-weight: 600;
  word-wrap: break-word;
  word-break: break-all;
}

.response {
  display: flex;
  flex-direction: column;
  gap: .25rem;
  margin-left: 1rem;
}

.response_date {
  font-weight: 600;
  font-size: .875rem;
  color: #7D7C84;
}

.response_author {
  font-weight: 600;
}

.response_text {
  font-weight: 300;
  word-wrap: break-word;
  word-break: break-all;
}

.edit_button {
  font-weight: 600;
  cursor: pointer;
  color: #1A6B98;
}