.request_card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-bottom: 1px #CECFD0 solid;
  padding-bottom: 2rem;
}

.request {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  justify-content: space-between;
}

.request_header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.request_date {
  padding-right: .75rem;
  font-weight: 600;
  font-size: .875rem;
  color: #7D7C84;
}

.topics_column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: .5rem;
}

.request_topics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .5rem;
  font-size: .75rem;
  font-weight: 500;
}

.request_topic {
  padding: .25rem .75rem;
  border: 1px solid #1a6c987d;
  border-radius: .75rem;
  color: #1A6B98;
}

.request_status {
  align-self: flex-start;
  padding: .4rem 1.5rem;
  color: #4E6D7E;
  border: 1px solid #5B8196;
  border-radius: .75rem;
  font: .85rem 500;
}

.request_content {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.request_text {
  font-weight: 600;
  word-wrap: break-word;
  word-break: break-all;
}

.request_author {
  font-weight: 500;
  font-size: .85rem;
}

.response {
  margin-left: 2rem;
  padding-left: 1rem;
  border-left: 2px solid #BEBEBE;;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.response_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.response_date {
  font-size: .75rem;
  font-weight: 500;
  color: #7D7C84;
}

.response_author {
  font-weight: 600;
  font-size: .85rem;
}

.response_text {
  font-weight: 500;
}

.button_row {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  font-weight: 500;
  color: #1A6B98;
}