.inp_field {
  display:flex;
  flex-direction: column;
}

.inp_label {
  font-size: 1.175em;
  font-weight: 500;
  margin: 0.25em;
}

.inp {
  color: #5F5F5F;
}

.inp::placeholder {
  font-weight: 300;
}

.inp_error {
  font-weight: 400;
  color: red;
  opacity: 90%;
  margin: 0.25em 0.5em;
}

.inp.form-input {
  border: 1px solid #5F5F5F;
  padding: 0.5em 1em;
  border-radius: .5rem;
}

.inp.form-input:focus {
  outline: 1px solid #135B82;
}

.inp.page_search-input {
  background-color: rgba(0, 0, 0, 0);
  color: #8B8B8B;
  border: 1px solid #8B8B8B;
  padding: .25rem 1rem;
  border-radius: .5rem;
}

.inp.page_search-input::placeholder {
  font-weight: 500;
}

.inp.page_search-input:focus {
  outline: 1px solid #135B82;
}