.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.375rem;
  color: #474747;
}

.header_outer {
  background-color: white;
}

.header__logo {
  display: flex;
  align-items: center;
  margin-right: 0.25rem;
}

.logo__image {
  width: 2.175rem;
  margin-right: 0.25rem;
}

.logo__text {
  margin-left: 0.25rem;
}

.profile {
  display: flex;
  flex-direction: row;
  gap: 1rem;

}

.profile__link {
  display: flex;
  flex-direction: row;
  gap: .5rem;
  align-items: center;
  margin-left: 0.25rem;
}

.profile__image {
  
}

.profile__text {

}