.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.375rem;
  color: #474747;
}

.header_outer {
  background-color: white;
}

.header__logo {
  display: flex;
  align-items: center;
  margin-right: 0.25rem;
}

.logo__image {
  width: 2.175rem;
  margin-right: 0.25rem;
}

.logo__text {
  margin-left: 0.25rem;
  font-size: 0.875rem;
}

.profile__link {
  display: flex;
  align-items: center;
  margin-left: 0.25rem;
}

.profile__image {
  margin-right: 0.25rem;
}

.profile__text {
  margin-left: 0.25rem;
}