html {
  font-size: 12px;
}

body {
  min-height: 101vh;
  padding: 0;
  margin: 0;
  color: #474747;
  font-family: "Montserrat", system-ui, -apple-system, "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background: #EDEDED;
}

a {
  text-decoration: none;
  color:#474747;
  cursor: pointer;
}

a:hover {
  color: inherit;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

input {
  padding: 0;
  color: inherit;
  font: inherit;
  background-color: #FFFFFF;
  border: none;
}

textarea {
  padding: 0;
  color: inherit;
  font: inherit;
  background-color: transparent;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #135B82;
  margin: 0;
}

@media (min-width: 768px) {
  html {
    font-size: 13px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 15px;
  }
}

@media (min-width: 1400px) {
  html {
    font-size: 16px;
  }
}